.add-form{
    background-color: #00000006;
    align-items: center;
    
    
}
.add-form{
    text-align: center;
}

.form-content {
	display: flex;
    height:fit-content;
    flex-wrap:wrap;
    justify-content: center;
    padding: 2em;
    
}

label, input, select {
    height: 40px;
	cursor: pointer;
    padding: 8px 6px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    margin: 20px 4px;
    align-items: center;
    
}
label:hover,
select:hover{
    color: var(--orange-soda);
}
.submit-btn {
	background:  var(--orange-soda);
	color: var(--white);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 10px 15px;
    margin: 10px 15px;
    border-radius: 10px;
    border: none;
	cursor: pointer;
    height: 40px;
    display: inline-block;
}

.submit-btn:is(:hover, :focus) { --orange-soda: hsl(7, 72%, 46%); }

.load-img-btn{
    background:  var(--orange-soda);
	color: var(--white);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 0 15px;
    margin: 0 15px;
    border-radius: 10px;
    border: none;
	cursor: pointer;
    height: 40px;
}
.load-img-btn:is(:hover, :focus) { --orange-soda: hsl(7, 72%, 46%); }
.choose-img{
    border: #000000 solid 2px; 
    height: 40px;
    padding: 10px 15px;
    margin: 0 8px;
    cursor: pointer;
}